*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
header{
    background:url("images/ship.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    padding-bottom: 207px;
}
nav{
    height: 50px;
    width: 100%;
    padding: 20px 0;
}
.container{
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: flex-start;
    margin: 0px 6px;
}
nav ul li a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 30px;
}
nav ul li a:hover, a.active{
    background-color: #E33741;
    border-radius: 5px;
}
.main-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
}
.booking-content{
    color: #fff;
    width: 100%;
    float: left;
    margin-left: 50px;
}
.booking-content h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}
.booking-form{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    float: right;
    width: 65%;
    margin-left: 180px;
}
.booking-form h3{
    margin: 10px 0px;
}
.booking-form  .input-group{
    margin: 10px 0;
}
.booking-form  .calculations{
    margin: 10px 0;
}
.booking-form  .calculations p{
    font-weight: 500;
    margin-bottom: 10px;
}
.booking-form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    margin: 10px 0;
    font-weight: 700;
}
.f-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inp-width{
    min-width: 300px;
}
.plus-minus-btn{
    margin: 16px 5px 0px 0px;
}
.plus-minus-btn button{
    color: white;
    font-size: 16px;
    padding: 5px;
    border: none;
    background: #e33741;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}
.booking-form .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.btn-style{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color:  #E33741;
    cursor: pointer;
}
.amount{
    display: flex;
    justify-content: space-between;
}
.complete-booking{
    display: none;
}
.complete-booking-area {
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 15px gainsboro;
}
.complete-booking-area h1 {
    padding-bottom: 15px;
    color: green;
}

.complete-booking-area p {
    width: 430px;
    line-height: 30px;
    color: dimgray;
}